/* CSS CARD FIGURE */
.content {
  margin-bottom: 60px;
  position: relative;
  animation: animatop 0.9s cubic-bezier(0.425, 1.14, 0.47, 1.125) forwards;
}
.card {
  width: 100%;
  min-height: 100px;
  padding: 20px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}
.card:after {
  content: "";
  display: block;
  width: 170px;
  height: 300px;
  background: cadetblue;
  position: absolute;
  animation: rotatemagic 0.75s cubic-bezier(0.425, 1.04, 0.47, 1.105) 1s both;
}
.badgescard {
  padding: 10px 20px;
  border-radius: 3px;
  background-color: #ececec;
  width: 95%;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: -1;
  left: 10px;
  bottom: 10px;
  animation: animainfos 0.5s cubic-bezier(0.425, 1.04, 0.47, 1.105) 0.75s
    forwards;
}
.badgescard span {
  font-size: 1.6em;
  margin: 0px 6px;
  opacity: 0.6;
}
.firstinfo {
  display: flex;
  flex-direction: row;
  z-index: 2;
  position: relative;
}
.firstinfo img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.firstinfo .profileinfo {
  padding: 5px 20px;
}
.profilefolow {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}

.profilefolow span {
  font-size: 20px;
  cursor: pointer;
  color: #5a5a5a;
}
.profilefolow span a {
  color: #5a5a5a;
}

.profilefolow span a:hover {
  color: #009688;
}
.firstinfo .profileinfo h1 {
  font-size: 1.2em;
}
.firstinfo .profileinfo h3 {
  font-size: 0.8em;
  color: #009688;
  font-style: italic;
  padding-top: 5px;
}
.firstinfo .profileinfo p.bio {
  padding: 10px 0px;
  color: #5a5a5a;
  line-height: 1.2;
  font-style: initial;
}
@keyframes animatop {
  0% {
    opacity: 0;
    bottom: -500px;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}
@keyframes animainfos {
  0% {
    bottom: 10px;
  }
  100% {
    bottom: -42px;
  }
}
@keyframes rotatemagic {
  0% {
    opacity: 0;
    transform: rotate(0deg);
    top: -24px;
    left: -253px;
  }
  100% {
    transform: rotate(-30deg);
    top: -24px;
    left: -78px;
  }
}

/* CSS CONTROL CHAPTER */
.control-chapter {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

.control-chapter .center {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.control-chapter .left {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
}

.control-chapter .left a {
  display: flex;
  height: 100%;
  width: 50px;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: red;
}

.control-chapter .left a:hover {
  background-color: #fff;
}

.control-chapter .center select {
  width: 80%;
}

.control-chapter .center a {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  color: #fff;
  height: 100%;
  height: 40px;
}

.content-image {
  display: block;
  width: 100%;
}

.content-image .item-image {
  display: block;
  width: 100%;
}

.content-image .item-image img {
  width: 100%;
  height: 100%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 0;
  background-color: #dddddd;
}

/* css checkbox */
.content-genre {
  padding: 20px 0 20px 10px;
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
}

.content-genre .item-checkbox-genre {
  display: flex;
}

.content-genre article {
  position: relative;
  width: 100%;
  height: 30px;
  margin: 5px;
  float: left;
  border: 2px solid #50bcf2;
  box-sizing: border-box;
  color: #fff;
  font-size: 14px;
  font-size: 12px;
}

.content-genre article div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 25px;
  transition: 0.5s ease;
  padding: 0 10px;
}

.content-genre article input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.content-genre input[type="checkbox"]:checked ~ div {
  background-color: #50bcf2;
}

.content-genre .upgrade-btn {
  display: block;
  margin: 30px auto;
  width: 200px;
  padding: 10px 20px;
  border: 2px solid #50bcf2;
  border-radius: 50px;
  color: #f5f5f5;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s ease;
}

.content-genre .upgrade-btn:hover {
  background-color: #50bcf2;
}

.content-genre .blue-color {
  color: #50bcf2;
}

.content-genre .gray-color {
  color: #fff;
}

.content-genre .social i:before {
  width: 14px;
  height: 14px;
  position: fixed;
  color: #fff;
  background: #0077b5;
  padding: 10px;
  border-radius: 50%;
  top: 5px;
  right: 5px;
}

@keyframes slidein {
  from {
    margin-top: 100%;
    width: 300%;
  }

  to {
    margin: 0%;
    width: 100%;
  }
}

/* Radio css */
.content-soft {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 20px 0;
  justify-content: center;
}

.inputGroup {
  background-color: #fff;
  display: block;
  position: relative;
  margin-right: 10px;
}
.inputGroup label {
  padding: 5px 10px;
  width: 150px;
  height: 100%;
  display: block;
  text-align: left;
  color: #3c454c;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 200ms ease-in;
  overflow: hidden;
  font-size: 14px;
}
.inputGroup label:before {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  content: "";
  background-color: #5562eb;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale3d(1, 1, 1);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  z-index: -1;
}
.inputGroup label:after {
  width: 20px;
  height: 20px;
  content: "";
  border: 2px solid #d1d7dc;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position: 1px 2px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 200ms ease-in;
}
.inputGroup input:checked ~ label {
  color: #fff;
}
.inputGroup input:checked ~ label:before {
  transform: translate(-50%, -50%) scale3d(56, 56, 1);
  opacity: 1;
}
.inputGroup input:checked ~ label:after {
  background-color: #54e0c7;
  border-color: #54e0c7;
}
.inputGroup input {
  order: 1;
  z-index: 2;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
}


/* css pagination */

.pagination{
  display: block;
  width: 100%;
  text-align: center;
}

.header-color{
  background-color: #d1d7dc;
}

/* css search box */
.search-box {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
}

.search-box > .search-box__content{
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  position: relative;
}

.search-box > .search-box__content .icon-search{
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e53637;
  color: #FFF;
  font-weight: 600;
  cursor: pointer;
}
.search-box > .search-box__content .form-search{
  width: 90%;
  border: 0;
  outline: 0;
  border-radius: 0;
  height: 100%;
}

.search-box__result{
  position: absolute;
  top: 45px;
  left: 0;
  max-height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  z-index: 3;
  overflow: auto;
}

.search-box__result > ul > li{
  list-style: none;
  display: block;
  padding: 10px 5px;
  position: relative;
  border-bottom: 1px solid #0077b5;
}

.search-box__result > ul > li:last-child{
  border-bottom: 0;
}

.search-box__result > ul > li > a{
  width: 100%;
  display: flex;
  flex-direction: row;
  color: #000;
}
.search-box__result > ul > li > a > .img{
  width: 20%;
  text-align: center;
}

.search-box__result > ul > li > a .img img{
  height: 100px;
  width: 80px;
}

.search-box__result > ul > li > a .content-text{
  width: 80%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}

.search-box__result > ul > li > a .content-text b{
  font-size: 18px;
}

.search-box__result > ul > li > a .content-text span{
  color: #3c454c;
}

/* css loading detail*/

.loading-item{
  background: #EEEEEE;
  opacity: 0.2;
  border-radius: 5px;
  animation: color 2s ease-in-out infinite;
}

@keyframes color {
  0% {
    background-color: #FFF;
  }
  25% {
    background-color: #DDDDDD;
  }
  50% {
    background-color: #CCCCCC;
  }
  75% {
    background-color: #BBBBBB;
  }
  100% {
    background-color: #AAAAAA;
  }
}



.loading-anime__details__sidebar{
  height: 400px;
}

.loading-anime__details__episodes,
.loading-anime__details__figures{
  height: 200px;
  margin-bottom: 40px;
}

.loading-anime__details__pic,
.loading-anime__details__text{
  height: 400px;
}

.loading-comment{
  height: 400px;
}
.loading-breadcrumb-option{
  height: 40px;
}